<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="{{resolve "/"}}">Home</a>
            <a class="blog-nav-item" href="{{resolve "/about"}}">About</a>
        </nav>
    </div>
</div>